* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: SF Pro Display, sans-serif;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/SFProDisplay-Regular.ttf") format("ttf"),
    url("./fonts/SFProDisplay-Bold.ttf") format("ttf"),
    url("./fonts/SFProDisplay-Medium.ttf") format("ttf"),
    url("./fonts/SFProDisplay-Heavy.ttf") format("ttf");
}
