.current_subject {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 280px;
    width: 100vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    color: white;
    padding: 20px;

    header {
        display: flex;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;

            h2 {
                margin-left: 10px;
                font-weight: 500;
            }
        }

        .class_button {
            width: 40px;
            height: 40px;
            border-radius: 10px;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;

            color: #5D94FF;
            font-size: 18px;
        }
    }

    .subject {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 32px;
            font-weight: 700;
        }

        p#cabinet {
            font-size: 15px;
            color: white;
            opacity: 0.8;
        }
    }

    .teacher {
        display: flex;

        img {
            width: 21px;
            height: 21px;
            margin-right: 7px;
        }

        p#name {
            opacity: 0.9;
        }
    }

    .class_button:hover{
        transition: all 0.2s ease-in-out;
        transform: scale(1.55);
    }

    .class_button{
        transition: all 0.2s ease-in-out;
        transform: scale(1);
    }

}

#wrapperHidden { visibility: hidden; }
    #wrapper{ 
        display: flex;
        justify-content: center;
        align-items: center;

        padding-left: 0%;
        margin-left: 0%;
        top: 0%;
        left: 0%;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 14;
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.4);
    }

    @keyframes opacityChangeFwd{
        from{ background-color: rgba(255, 255, 255, 0); }
        to{ background-color: rgba(255, 255, 255, 1); }
    }

    @keyframes opacityChangeBck{
        from{ 
            background-color: rgba(255, 255, 255, 1);
            transform: scale(1);
        }
        to{ 
            background-color: rgba(255, 255, 255, 0); 
            transform: scale(0);
        }
    }

    .chooseClassHidden{ 
        animation-duration: 0.4s;
        animation-name: opacityChangeBck;
        background-color: rgba(255, 255, 255, 0);
        display: none;
    }
    .chooseClass{
        animation-duration: 0.2s;
        animation-name: opacityChangeFwd;
        position: absolute;
        right: 9vw;
        top: 7.5vh;
        z-index: 15;
        text-align: center;
        margin-left: 0.75vw;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 20px;
        width: 80vw;
        height: 85vh;
        box-shadow: 0px 5px 15px rgba(80, 139, 255, 0.15);
        
        .classGridView{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .classChooseLabel{
                width: 10vw;
                border-radius: 10px;
                background: #E7EFFF;
            }        
        }
    }

    


